ion-header {
    ion-toolbar {
      ion-title {
        text-align: center;  // Center the title text
        color: orangered;  // Apply the 'warn' color
      }
    }
  }
  
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  // Center align text within ion-content
    color: orangered;  // Apply the 'warn' color to all text inside ion-content
    padding: 16px;  // Optional: Add padding for better spacing
  
    ion-header {
      width: 100%;  // Ensure ion-header inside ion-content takes full width
    }
  
    ion-toolbar {
      ion-title {
        text-align: center;  // Center align the title text inside collapsed header
        color: orangered;  // Apply the 'warn' color
      }
    }
  }

  video {
    margin: 5px;
    margin-top: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 90%; 
    height: auto;
  }

.start-button{
  color: orangered;
  margin-bottom: 10px;
}

.stop-button{
  background-color: rgb(235, 191, 176);
}
